
module.exports.formatDate = function (time) {
  var date = getDate(time);
  var strDate = '';
  strDate += date.getFullYear() + '/';
  strDate += (date.getMonth() + 1) + '/';
  strDate += date.getDate() + ' ';
  strDate += (date.getHours() ? date.getHours() : '00') + ':';
  strDate += (date.getMinutes() ? date.getMinutes() : '00') + ':';
  strDate += (date.getSeconds() ? date.getSeconds() : '00');
  return strDate;
}

var ExamTypeMap = {
  EXERCISE: 'yusai',
  FIRST_EXAM: 'chusai',
  REPEATED_EXAM: 'fusai'
}

module.exports.getExamThemeClassByType = function (type){
  return ExamTypeMap[type]
}